<div class="videonavbar">
<span class="videonavbar-bg">
<ul class="videonavbar-list">
	<li><a href="#10"> {% image nips.jpg class="videonavbar-img" %} </a></li>
	<li><a href="#9"> {% image kx-button.png class="videonavbar-img" %} </a></li>
	<li><a href="#8"> {% image confidence.png class="videonavbar-img" %} </a></li>
	<li><a href="#7"> {% image vvzine.png class="videonavbar-img" %} </a></li>
	<li><a href="#6"> {% image vaseline-button.png class="videonavbar-img" %} </a></li>
	<li><a href="#5"> {% image wetsponge-button.png class="videonavbar-img" %} </a></li>
	<li><a href="#4"> {% image wiggling-button.png class="videonavbar-img" %} </a></li>
	<li><a href="#3"> {% image esp-button.png class="videonavbar-img" %} </a></li>
	<li><a href="#2"> {% image progress-button.png class="videonavbar-img" %} </a></li>
	<li><a href="#1"> {% image garbage-world.png class="videonavbar-img" %} </a></li>
</ul>
</span>
</div>