<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="main-body">
    <header class="header">
      <div class="katyalbert">
    	<a class="home-button" href="/">
    		<p>KATY ALBERT</p>
    	</a>
    </div>
    </header>
    <main class="main-home">
    <div class="main container page" aria-label="Content">
      {{ content }}
    </div>
    <!-- side scroll area
    <div class="secondary container page">
      <!-- side content goes here -->
    <!-- </div> -->
    </div>
    </main>
  </body>
</html>
